<div class="container w-90">
  <div class="card">
     <div class="card-header">
        <h1 [class.activeClass]="isActive" [style.text-decoration]="textDecoration">{{ customer.name | uppercase }}  </h1>
     </div>
     <div class="card-body">
      <div class="row">
          <div class="col-sm-8">
            <p>{{customer.description}}</p>
            <p>Wiek: {{customer.age}}</p>
            <p>Adres: {{customer.address.street+" "+customer.address.houseNumber}}, {{customer.address.city}}</p>
            <button type="button" class="btn btn-primary" (click)="isActive = !isActive">Zmień kolor tekstu</button>
            <button type="button" class="btn btn-primary" (click)="textUnderline()">Zmienń podkreślenie</button>
            <br />
          </div>
          <div class="col-sm-4">
              <img *ngIf="showPhoto" [src]="customer.photoUrl"/> <br />
              <label><input type="checkbox" [(ngModel)]="showPhoto"> Pokaż avatar</label>
          </div>
      </div>
    </div>
  </div>
    <router-outlet></router-outlet>
</div>
