<div class="container w-90">
  <div class="card">
     <div class="card-header">
        <h1 [class.activeClass]="isActive" [style.text-decoration]="textDecoration">
          {{ customer.name | uppercase }}
          <ng-container [ngSwitch]="customer.type">
            <ng-container *ngSwitchCase="CustomerType.Standard">*</ng-container>
            <ng-container *ngSwitchCase="CustomerType.Premium">**</ng-container>
            <ng-container *ngSwitchCase="CustomerType.VIP">***</ng-container>
            <ng-container *ngSwitchDefault>Nieznany Typ Konta</ng-container>
          </ng-container>
        </h1>
     </div>
     <div class="card-body">
      <div class="row">
          <div class="col-sm-8">
            <p>{{customer.description}}</p>
            <p>Wiek: {{customer.age}}</p>
            <p>Adres: {{customer.address.street+" "+customer.address.houseNumber}}, {{customer.address.city}}</p>
            <button type="button" class="btn btn-primary" (click)="isActive = !isActive">Zmień kolor tekstu</button>
            <button type="button" class="btn btn-primary" (click)="textUnderline()">Zmień podkreślenie</button>
            <br />
          </div>
          <div class="col-sm-4" id= "avatar">
              <img *ngIf="showPhoto" [src]="customer.photoUrl" height="164px"/> <br />
              <label><input type="checkbox" [(ngModel)]="showPhoto"> Pokaż avatar</label>
          </div>
      </div>
    </div>
  </div>
    <router-outlet></router-outlet>
</div>
